@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:700&display=swap&subset=cyrillic");

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "styles/mixins";

*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
div,
span,
cite,
code,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
small,
sub,
sup,
b,
i,
a,
ol,
ul,
li,
footer,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
audio,
video {
  margin: 0;
  padding: 0;
  color: var(--onBackground);
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
}

html,
body {
  background-color: var(--background, #ffffff);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

input,
textarea,
select {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
}

input,
select {
  vertical-align: top;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input[type="search"] {
  -webkit-appearance: textfield;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

audio,
video {
  display: inline-block;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

img {
  vertical-align: top;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

details summary::-webkit-details-marker {
  display: none;
}

/*
  Global packages styles
*/

.Toastify__toast--success {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--onSecondary) !important;
  background-color: var(--secondary) !important;
}

.Toastify__toast--error {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--onError) !important;
  background-color: var(--error) !important;
}

/*
  Global packages styles
*/

.general-container {
  position: relative;
  min-height: 100vh;

  @include respond-to(below-lg) {
    padding: 12px 6%;
  }

  @include respond-to(from-lg) {
    padding: 12px 17%;
  }
}

.block {
  margin-top: 48px;
  display: inline-flex;

  &__unpadded {
    margin-top: 0;
  }

  & > :first-child {
    padding-left: 0;
  }

  & button {
    margin-top: 14px;
  }

  @include respond-to(below-md) {
    flex-direction: column;

    &--img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
      order: 1;
    }

    &--text {
      padding: 12px 0;
      order: 2;
    }
  }

  @include respond-to(from-md) {
    flex-direction: row;

    &--img {
      width: 40%;
      object-fit: cover;
      object-position: center center;
    }

    &--text {
      padding: 6px 32px;
    }
  }
}

.title {
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;

  &__padded {
    margin-top: 22px;
  }

  @include respond-to(xs) {
    font-size: 20px;
  }

  @include respond-to(sm) {
    font-size: 18px;
  }

  @include respond-to(md) {
    font-size: 18px;
  }

  @include respond-to(lg) {
    font-size: 22px;
  }
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.75;

  @include respond-to(xs) {
    font-size: 14px;
  }

  @include respond-to(sm) {
    font-size: 14px;
  }

  @include respond-to(md) {
    font-size: 14px;
  }

  @include respond-to(lg) {
    font-size: 14px;
  }
}

.link {
  color: var(--onSurface);
  text-decoration: none;

  &:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.slide-animation-enter {
  bottom: -300px;
}

.slide-animation-enter.slide-animation-enter-active {
  bottom: 50px;
  transition: bottom 0.5s linear;
}

.slide-animation-exit {
  bottom: 50px;
}

.slide-animation-exit.slide-animation-exit-active {
  bottom: -300px;
  transition: bottom 0.5s linear;
}
