@import "styles/mixins";

.grid {
  margin: 16px -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include respond-to(xs) {
    margin: 0;
  }
}

.grid--item {
  @include respond-to(xs) {
    margin: 8px 0;
    width: 100%;
  }

  @include respond-to(sm) {
    margin: 8px;
    width: calc(50% - 16px);
  }

  @include respond-to(md) {
    margin: 8px;
    width: calc(33% - 16px);
  }

  @include respond-to(lg) {
    margin: 8px;
    width: calc(33% - 16px);
  }
}

.container {
  position: relative;
  display: inline-flex;
  background-color: var(--surface);

  &--img {
    object-fit: cover;
    object-position: center center;
  }

  &--text {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  @include respond-to(xs) {
    margin-top: -80px;
    width: 85vw;
    height: 80vh !important;
    flex-direction: column;

    &--img {
      display: none;
    }
  }

  @include respond-to(below-md) {
    width: 85vw;
    height: 70vh;
    flex-direction: column;

    &--img {
      width: 100%;
      height: 40%;
    }

    &--text {
      padding: 12px 32px;
    }
  }

  @include respond-to(from-md) {
    width: 700px;
    height: 600px;
    flex-direction: row;

    &--img {
      width: 50%;
      height: 100%;
    }

    &--text {
      padding: 6px 32px;
    }
  }
}

.article {
  position: relative;

  &--date {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    opacity: 0.75;
  }

  &--link {
    display: block;
    color: var(--onSurface);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: var(--secondary);
      text-decoration: underline;
    }
  }

  &--scroll {
    padding: 12px 0;
    overflow-y: auto;
    flex-grow: 1;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 6px;
    color: var(--onSurface);
    background-color: var(--surface);
  }
}
