.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--title {
    margin-bottom: 24px !important;
    text-align: center;

    & span {
      display: block;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      letter-spacing: 0.8px;
      line-height: 56px;
      text-transform: uppercase;
    }

    & span:nth-child(1) {
      font-size: 50px;
    }

    & span:nth-child(2) {
      font-size: 42px;
    }
  }
}
